@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='light'] {
  --rounded-box: 0.5rem;
}

[data-theme='light'] .btn {
  text-transform: none;
  font-weight: normal;
}
[data-theme='light'] .input:focus,
[data-theme='light'] .textarea:focus {
  outline: none;
}

textarea {
  max-height: 150px;
}

.section {
  margin: 60px;
  padding: 0 15px;
}
.section--pad {
  margin: 0;
  padding: 60px 15px;
}

.CreateRecipe ._form {
  max-width: 400px;
}
._form__inner {
  flex-direction: row;
  flex-wrap: wrap;
  margin: -0.3rem -0.5rem;
}
._form__field {
  width: 100%;
  padding: 0.3rem 0.5rem;
}
._form__field.w-6\/12 {
  width: 50%;
}
