@tailwind base;
@tailwind components;
@tailwind utilities;

/*--- Theme overrides ---*/
[data-theme='light'] {
  --p: 98deg 32% 45%;
  --s: 99deg 25% 65%;
  --a: 99deg 24% 86%;
  --dark: #69974f;
  --rounded-box: 0.5rem;
  --base-200: #fff4d6;
}

[data-theme='light'] .btn {
  text-transform: none;
  font-weight: normal;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

[data-theme='light'] .label-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
[data-theme='light'] .input {
  box-shadow: inset 1px 1px 4px 4px rgb(0 0 0 / 1%);
}
[data-theme='light'] .input:focus,
[data-theme='light'] .textarea:focus {
  outline: none;
}

[data-theme='light'] .alert {
  display: inline-block;
  width: auto;
  padding: 1rem 3.5rem;
  text-align: center;
}
.alert.alert-success {
  background-color: #e9f4f2;
  color: #009485;
  border: 1px solid #009485;
}
.alert.alert-error {
  background-color: #fff5f5;
  color: #c53030;
  border: 1px solid #c53030;
}

* {
  --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 12%)) !important;
}

/*--- Defaults ---*/
textarea {
  max-height: 150px;
}

/*--- Global ---*/
.section {
  margin: 60px 0;
  padding: 0 15px;
}
.section--pad {
  margin: 0;
  padding: 60px 15px;
}

._imgTagBg {
  position: relative;
  overflow: hidden;
}
._imgTagBg > img:first-child {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
}

._list {
  counter-reset: listCount;
}
._list li {
  display: flex;
}
._list li:not(:last-child) {
  margin-bottom: 1rem;
}
._list:not(._list--numbers) li:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: hsla(var(--bc) / 0.8);
  margin-top: 0.6rem;
  margin-right: 0.8rem;
}
._list--inputs li {
  position: relative;
}
._list--inputs:not(._list--numbers) li:before {
  margin-top: 1.3rem;
}
._list--numbers > li:before {
  counter-increment: listCount;
  content: counter(listCount);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50px;
  height: 50px;
  margin-right: 20px;
  color: hsla(var(--bc) / 0.8);
  font-size: 1.8rem;
  border: 1px solid hsla(var(--bc) / 0.8);
  border-radius: 50%;
}

._list--bg-alt > li {
  padding: 1rem;
}
._list--bg-alt > li:nth-child(odd) {
  background-color: hsl(var(--a));
}
._list--bg-alt > li:nth-child(even) {
  border: 2px solid hsl(var(--a));
}
._list--numbers._list--bg-alt > li:nth-child(odd):before {
  background-color: #ffffff;
}

._list--dark li:before {
  background-color: var(--dark) !important;
}
._list--numbers._list--dark li:before {
  color: #ffffff;
  border: none;
}

._list--inputs ._list__itemBtn {
  position: absolute;
  top: 50%;
  left: -0.4rem;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s all;
}
._list--inputs--close-top-right ._list__itemBtn {
  top: 0.5rem;
  left: unset;
  right: 0.5rem;
  transform: none;
}
._list__itemBtn .btn-circle {
  width: 1.3rem;
  height: 1.3rem;
  min-height: 1.3rem;
  background-color: #c53030;
  border-color: #c53030;
}
._list__itemBtn .btn-circle svg {
  width: 85%;
  height: 85%;
}
._list--inputs li:hover ._list__itemBtn {
  opacity: 1;
  z-index: 0;
}

.labelText {
  margin-top: 1rem;
}
.labelText__label {
  color: var(--dark);
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}
.labelText__text {
  font-size: 1.05rem;
}
.labelText--big .labelText__label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.titleText__title {
  font-size: 1.7rem;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--- Custom ---*/
.Navbar__logo {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.Navbar__logo svg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.Navbar__logo__text {
  line-height: 1;
}

._form__inner {
  flex-direction: row;
  flex-wrap: wrap;
  margin: -0.3rem -0.5rem;
}
._form__field {
  width: 100%;
  padding: 0.3rem 0.5rem;
}
._form__field.w-6\/12 {
  width: 50%;
}

._form__field--instructions > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.collapse-transparent .collapse-title {
  padding-left: 0.25rem;
  padding-right: 2rem;
  font-size: 1.3rem;
}
.collapse-transparent.collapse-arrow .collapse-title:after {
  right: 1rem;
}

.icon-text {
  display: flex;
  align-items: center;
}
.icon-text svg {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.btn-circle {
  width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
}
.btn-circle svg {
  width: 75%;
  height: 75%;
}

.btn-icon {
  display: flex;
  align-items: center;
  color: #ffffff !important;
}
.btn-icon svg {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}

/*--- Components ---*/

/* CreateRecipe */
.CreateRecipe ._form {
  max-width: 550px;
  margin: 0 auto;
}

/* DownloadRecipeForm */
.DownloadRecipeForm {
  width: 600px;
  text-align: center;
}

/* Card */
.card-image {
  padding-bottom: 24rem;
}
.card--hover:hover ._imgTagBg > img:first-child {
  transform: translate(-50%, -50%) scale(1.03);
}

.card {
  position: relative;
}
.card__hovers {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  z-index: -1;
  transition: 0.2s all;
}
.card--hover:hover .card__hovers {
  opacity: 1;
  z-index: 1;
}

.card-body p {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.5rem;
  overflow: hidden;
}

.card-actions {
  justify-content: space-between;
  margin-top: 0.5rem;
}
.card-actions svg,
.card-actions svg * {
  fill: var(--dark);
}
.Rating span {
  background-color: var(--dark);
}

.Rating span {
  display: inline-block;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}
.Rating .Rating__fill {
  opacity: 1;
}
